@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body{
  font-family: 'Lato', sans-serif;
}
hr{
  height:0.5px;
  border:none;
  color: #DADADA;
  background-color: #dadada;
}
.bg-dark {
    background-color: black !important;
}
div.tooltip {
    position: absolute;
    text-align: center;
    background: black;
    color: white;
    border-radius: 4px;
    border-color: black !important;
    border-style: solid;
    border-width: 1px;
    pointer-events: none;
}

div.tooltip table {
  margin: .25em;
  font: 0.80em sans-serif;
}

.focus circle {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 40vh;
    overflow-y: auto;
}
.dropdown-menu{
    height:250px;
    overflow-y:auto;
    border-radius: 6px;
}
.btn {
  color: white !important;
}
div.tooltip-donut {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 1.3rem;
}
